{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<script src="{% static 'script.js' %}"></script>
<body>
    {% include 'navbar.html' %}
    <section class="contact-section">
        <h2>Контакти</h2>
        <p>Зв’яжіться зі мною:</p>
        <ul>
            <li><a href="https://t.me/@Mr4rrrrr" target="_blank">Telegram</a></li>
            <li><a href="https://github.com/StepfanIT" target="_blank">GitHub</a></li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2025 Всі права захищено.</p>
    </footer>
</body>
</html>
