{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мої проекти</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<script src="{% static 'script.js' %}"></script>
<body>
    {% include 'navbar.html' %}
    <section class="projects-section">
        <h2>Мої проекти</h2>
        <p>Поки що в розробці...</p>
    </section>
    <footer>
        <p>&copy; 2025 Всі права захищено.</p>
    </footer>
</body>
</html>
